{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div> 
    {% include '_alert.html' %}
    <div class="d-flex align-items-center justify-content-center min-vh-100 bg-light">
        <div class="w-100" style="max-width: 500px;">
            <form method="POST" class="bg-white shadow rounded px-5 py-4 mb-4">
                {% csrf_token %}
                <h3 class="text-center mb-4">Update Drone</h3>
                {{ form|crispy }}
                <button type="submit" class="btn btn-danger btn-block">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

