{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <img style="padding-bottom: 10px;" src="{% static 'img/logo-hpdrones-cor.webp' %}" alt="HPDrones" width="150px"><a class="nav-link" href="">{% trans "LiveStreaming" %}</a></img>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {% if request.user.role.role_name == 'admin' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">{% trans "ADD User" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'livestreaming:drone_create' %}">{% trans "ADD Drone" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'livestreaming:drone_list' %}">{% trans "Drone List" %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'livestreaming:user_drone_list' %}">{% trans "UserDrone List" %}</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'livestreaming:user_drone_list_by_user' user_id=request.user.id %}">{% trans "My Drones Streaming" %}</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:profile' %}">{% trans "Profile" %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Logout" %}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
