{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}

{% load bootstrap5 %}

{% block content %}
<div class="container mt-3" style="padding-top: 50px;">
    {% bootstrap_messages %}
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-body d-flex align-items-center">
                <img x-data="{src: '{{ user.profile.image.url }}'}" :src="src" class="rounded-circle me-3" style="width: 100px; height: 100px;">
                <div>
                    <h2>{{ user.username }}</h2>
                    <p>{{ user.email }}</p>
                    {% bootstrap_field p_form.image %}
                </div>
            </div>
        </div>
        <fieldset class="border p-3 mb-3">
            <legend class="w-auto" style="font-size: 1.5rem;">{% trans "Profile Info" %}</legend>
            <div class="row">
                <div class="col-md-6">
                    {% bootstrap_field u_form.email %}
                    {% bootstrap_field u_form.username %}
                    {% bootstrap_field p_form.full_name %}
                </div>
                <div class="col-md-6">
                    {% bootstrap_field p_form.about %}
                </div>
            </div>
        </fieldset>
        <div class="d-flex justify-content-between">
            {% bootstrap_button "Update" button_type="submit" button_class="btn-danger" %}
            <a href="{% url 'account_change_password' %}" class="btn btn-secondary">{% trans "Change Password" %}</a>
        </div>
    </form>
</div>
{% endblock %}
